body {
  margin: 0;
  padding: 0;
  background: #bbb;
}

.title {
  font-family: Arial;
  margin: 1.5em auto;
  font-size: 2em;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 0 #ddd;
}

.chart {
  margin: 1.5em auto;
  display: block;
  border: 5px solid #eee;
  box-shadow: 0 0 2px #666, 0 0 150px rgba(0,0,0,.2);
  background-color: #fff;
}

.label-content {
  pointer-events: none;
}